@model MvcOnlineTicariOtomasyon.Models.Siniflar.Kategori
@{
    ViewBag.Title = "Kategori Düzenle";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="row">
    <div class="col-md-12">
        <div class="box box-danger">
            <div class="box-header with-border">
                <h3 class="box-title">@ViewBag.title</h3>

                <div class="box-tools pull-right">
                    <a href="/Kategori/Index" class="btn btn-success btn-sm">Kategori Listesi</a>
                </div>
            </div>

            <div class="box-body">
                @using (Html.BeginForm("Edit", "Kategori", FormMethod.Post))
                {
                    @Html.HiddenFor(x => x.KategoriID)

                    <div class="form-group">
                        @Html.LabelFor(x => x.KategoriAd)
                        @Html.TextBoxFor(x => x.KategoriAd, new { @class = "form-control" })
                    </div>

                    <button type="submit" class="btn btn-success">Güncelle</button>
                }
            </div>

            <div class="box-footer"></div>

        </div>
    </div>
</div>