@using MvcOnlineTicariOtomasyon.Models.Siniflar
@model List<Kategori>
@{ 
    ViewBag.Title = "Kategoriler";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="row">
    <div class="col-md-12">
        <div class="box box-danger">
            <div class="box-header with-border">
                <h3 class="box-title">@ViewBag.title</h3>

                <div class="box-tools pull-right">
                    <a href="/Kategori/Create" class="btn btn-success">Kategori Ekle</a>
                </div>
            </div>

            <div class="box-body">
                <div class="table-responsive">
                    <table class="table table-bordered table-striped">
                        <thead>
                            <tr>
                                <th class="text-center" style="width: 5%">ID</th>
                                <th>Kategori Adı</th>
                                <th class="text-center" style="width: 15%">İşlem</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td class="text-center">@item.KategoriID</td>
                                    <td>@item.KategoriAd</td>
                                    <td class="text-center">
                                        <a href="/Kategori/Edit/@item.KategoriID" class="btn btn-primary btn-sm">Düzenle</a>
                                        <a href="/Kategori/Delete/@item.KategoriID" class="btn btn-danger btn-sm">Sil</a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>

            <div class="box-footer"></div>

        </div>
    </div>
</div>