@using MvcOnlineTicariOtomasyon.Models.Siniflar
@model List<Kategori>
@{ 
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="row my-4">
    <div class="col-md-12">
        <a href="/Kategori/Create" class="btn btn-success float-left mb-3">Kategori Ekle</a>

        <div class="table-responsive">
            <table class="table table-bordered table-striped">
                <thead>
                    <tr>
                        <th class="text-center" style="width: 5%">ID</th>
                        <th>Kategori Adı</th>
                        <th class="text-center" style="width: 15%">İşlem</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td class="text-center">@item.KategoriID</td> 
                            <td>@item.KategoriAd</td>
                            <td class="text-center">
                                <a href="/Kategori/Edit/@item.KategoriID" class="btn btn-primary btn-sm">Düzenle</a>
                                <a href="/Kategori/Delete/@item.KategoriID" class="btn btn-danger btn-sm">Sil</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>