@model MvcOnlineTicariOtomasyon.Models.Siniflar.Departman
@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="row my-4">
    <div class="col-md-12">

        <a href="/Departman/Index" class="btn btn-success float-left mb-3">Departman Listesi</a>

        <br /><br /><br />

        <form action="/Departman/Create" method="post">

            <div class="form-group">
                @Html.LabelFor(x => x.DepartmanAd, new { @class = "mb-1" })
                @Html.TextBoxFor(x => x.DepartmanAd, new { @class = "form-control" })
            </div>

            <button type="submit" class="btn btn-success my-2">Kaydet</button>
        </form>

    </div>
</div>

