<div class="login-form login-form-left">
    <div class="agile-row">
        <h3>Cari Giriş Formu</h3>
        <span class="fa fa-lock"></span>
        <div class="clear"></div>
        <div class="login-agileits-top">
            @using (Html.BeginForm("CariGirisPartial", "Login", FormMethod.Post))
            {
                <input type="text" class="name" name="CariMail" Placeholder="Kullanıcı Adı" required="" />
                <input type="password" class="password" name="CariSifre" Placeholder="Şifre" required="" />
                <input type="submit" value="Giriş Yap">
            }
        </div>
    </div>
</div>