<div class="login-form login-form-left">
    <div class="agile-row">
        <h3>Personel Giriş Formu</h3>
        <span class="fa fa-lock"></span>
        <div class="clear"></div>
        <div class="login-agileits-top">
            <form action="#" method="post">
                <input type="text" class="name" name="user name" Placeholder="Kullanıcı Adı" required="" />
                <input type="password" class="password" name="Password" Placeholder="Şifre" required="" />
                <input type="submit" value="Giriş Yap">
            </form>
        </div>
    </div>
</div>