@using MvcOnlineTicariOtomasyon.Models
@model List<Yapilacak>
@{
    ViewBag.Title = "Yapılacaklar Listesi";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="row">
    <div class="col-md-12">
        <div class="box box-primary">
            <div class="box-header ui-sortable-handle" style="cursor: move;">
                <i class="ion ion-clipboard"></i>

                <h3 class="box-title">Yapılacaklar Listesi</h3>

                <div class="box-tools pull-right">
                </div>
            </div>
            <div class="box-body">
                <ul class="todo-list ui-sortable">
                    @foreach (var item in Model)
                    {
                    <li>
                        <span class="handle ui-sortable-handle">
                            <i class="fa fa-ellipsis-v"></i>
                            <i class="fa fa-ellipsis-v"></i>
                        </span>

                        <input type="checkbox" value="">

                        <span class="text">@item.Baslik</span>

                        @if (item.Durum == true)
                        {
                            <small class="label label-success"><i class="fa fa-clock-o"></i> Tamamlandı</small>
                        }
                        else
                        {
                            <small class="label label-danger"><i class="fa fa-clock-o"></i> Tamamlanmadı</small>
                        }

                        <div class="tools">
                            <i class="fa fa-edit"></i>
                            <i class="fa fa-trash-o"></i>
                        </div>
                    </li>
                    }
                </ul>
            </div>
            <div class="box-footer clearfix no-border">
                <button type="button" class="btn btn-default pull-right"><i class="fa fa-plus"></i> Yeni Ekle</button>
            </div>
        </div>
    </div>
</div>