@using MvcOnlineTicariOtomasyon.Models
@model List<Personel>
@{
    ViewBag.Title = "Personel Listesi";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="row">
    <div class="col-md-12">

        <div class="box box-danger">
            <div class="box-header with-border">
                <h3 class="box-title">Latest Members</h3>

                <div class="box-tools pull-right">
                    @*<span class="label label-danger">8 New Members</span>*@
                    @*<button type="button" class="btn btn-box-tool" data-widget="collapse">
                        <i class="fa fa-minus"></i>
                    </button>
                    <button type="button" class="btn btn-box-tool" data-widget="remove">
                        <i class="fa fa-times"></i>
                    </button>*@
                </div>
            </div>
            
            <div class="box-body no-padding">
                <ul class="users-list clearfix">
                    @foreach (var item in Model)
                    {
                        <li>
                            <img src="@item.PersonelGorsel" alt="User Image">
                            <a class="users-list-name" href="/Personel/ShowProfile/@item.PersonelID">@item.PersonelAd @item.PersonelSoyad</a>
                            <span class="users-list-date"></span>
                        </li>
                    }
                </ul>
                
            </div>
            
            <div class="box-footer text-center">
                @*<a href="javascript:void(0)" class="uppercase">View All Users</a>*@
            </div>
            
        </div>
        
    </div>
</div>

